.yellow-line{
    background-color: darkorange;
}
section{
    width: 100%;
    height: 15rem;
    padding: 20px;
}
.container{
    height: 100%;
    background-color: greenyellow;
    vertical-align: middle;
}
header{
    background-color: aqua;
    height: 2rem;
}
.deeppink{
    background-color: deeppink;
    height: 80%;
    width: 80%;
    margin: auto;
    align-items: center;
}
.sec1{
    background-color: darkslateblue;
}
/*.blu{
    background-color: dodgerblue;
    height: 80%;
}
.pink{
    background-color: pink;
    height: 80%;
}
 */