*, *::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.yellow-line{
    display: flex;
    width: 100%;
    background-color: darkorange;
}
 .logo, .link, .login{
    border: 2px dotted black;
    display: flex;
}
.logo, .login{
    width: 20%;
}
.login{
    justify-content: flex-end;
}
.link{
    width: 60%;
    justify-content: center;
}
.container{
    width: 75%;
    margin: auto;
    display: flex;
}
section{
    display: flex;
    align-items: center;
}
.container > .deeppink{
    display: flex;
    align-self: flex-start;
}
.sec3{
    background-color: lightslategray;
}
.sec1{
    background-color: darkslateblue;
}