*, *::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.yellow-line{
    display: flex;
    width: 100%;
}
 .logo, .link, .login{
    border: 2px dotted black;
}
.logo, .login{
    width: 20%;
}
.link{
    width: 60%;
    /* align-self: center; non so centra*/
}
.container{
    width: 75%;
    margin: auto;
}
section{
    display: flex;
    align-items: center;
}
.container > .deeppink{
    display: flex;
    align-self: flex-start;
}